<div id="navbar">
  <mat-toolbar>
    <button mat-icon-button aria-label="icon-button with home icon" (click)="onHome()">
      <mat-icon>home</mat-icon>
    </button>
    <span class="spacer-flex"></span>
    <span>
      <span style="color: darkorange">[[IPP]]</span>
      <span [matBadge]="totalArticlesNew" [matBadgeHidden]="totalArticlesNew === 0">News</span>
    </span>
    <span *ngIf="isInitApp && false"> - Timer {{_timeLeft}}</span>
    <span class="spacer-flex"></span>
    <!-- <button mat-icon-button aria-label="icon-button with date_range icon" (click)="isDatesExpanded = !isDatesExpanded">
      <mat-icon>date_range</mat-icon>
    </button> -->
    <button mat-icon-button aria-label="icon-button with settings icon" (click)="onFilters()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
  <mat-expansion-panel id="filters_container" class="mat-elevation-z2" [expanded]="isFiltersExpanded">
    <div *ngIf="isFiltersExpanded">
      <div class="spacer-vertical"></div>
      <app-select [label]="'Categories'" [items]="categoriesList" [maxItems]="5"
        (valuesChanges)="onCategoriesChanges()">
      </app-select>
      <app-select [label]="'Sources'" [items]="sourcesList" [maxItems]="10" [disabled]="isDisabledSource"></app-select>
      <mat-form-field class="width-100" appearance="legacy">
        <mat-label>Refresh time</mat-label>
        <input matInput type="text" digitOnly inputmode="numeric" autocomplete="off" maxlength="3" placeholder="seconds"
          [(ngModel)]="refreshTimeInSeconds">
      </mat-form-field>
      <div class="bottom--30 center-horizontal">
        <button mat-fab color="" (click)="onSearch()" aria-label="icon button with a search icon">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<div id="articles_container" [ngClass]="isFiltersExpanded ? 'mt-300' : 'mt-100'">
  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="35px grid">
    <div fxflex="33%" fxFlex.sm="100%" *ngFor="let article of articles">
      <app-article-card [article]="article"></app-article-card>
    </div>
  </div>
</div>

<div *ngIf="isInitApp" id="date_container">
  <mat-form-field appearance="fill" class="mat-elevation-z2">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker" disabled>
      <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
      <input matEndDate placeholder="End date" [(ngModel)]="endDate">
    </mat-date-range-input>
    <mat-icon matDatepickerToggleIcon (click)="onClearDates()">clear</mat-icon>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker touchUi #picker disabled="false" (closed)="onDatesChanges()"></mat-date-range-picker>
  </mat-form-field>
  <!-- <button mat-fab color="" (click)="picker.open()" aria-label=" icon-button with date_range icon">
    <mat-icon>date_range</mat-icon>
  </button> -->
</div>

<div *ngIf="isLoading" class="center-horizontal">
  <mat-spinner></mat-spinner>
</div>